@import "../../style/variables";
.scroll-for-more {
  position: absolute;
  bottom: 200px;
  left: 200px;
  z-index: 99;
  @media (max-width: 580px) {
    left: 80px;
    top: 50%;
  }
  .icon {
    svg {
      height: auto;
      width: 28px;
    }
  }
  .text {
    margin-top: 8px;
    color: $white;
    text-transform: uppercase;
  }
}
