// Colors
$main: #f0d8bb;
$white: #ffffff;
$black: #1e1f13;

// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;
